[submodule "src/godot-cpp"]
	path = src/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
[submodule "vendor/ghostty"]
	path = vendor/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "vendor/godot_wry"]
	path = vendor/godot_wry
	url = https://github.com/doceazedo/godot_wry.git
[submodule "vendor/EIRTeam.FFmpeg"]
	path = vendor/EIRTeam.FFmpeg
	url = https://github.com/EIRTeam/EIRTeam.FFmpeg.git
[submodule "vendor/godot_cef"]
	path = vendor/godot_cef
	url = https://github.com/dsh0416/godot-cef.git
